[package]
name = "proto"
version.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
bty.workspace = true
chrono.workspace = true
serde.workspace = true
serde_json.workspace = true
uuid.workspace = true
