[package]
name = "worker"
version.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
eyre.workspace = true
proto.workspace = true
sysinfo.workspace = true
tokio = { workspace = true, features = ["rt-multi-thread", "macros", "time"] }
